<h1>Welcome <%= @user.username.capitalize %></h1>

<% if current_user.reviews.any? %>
  <div class="row">
    <div class="col-sm-6">
      <h4>Your reviews</h4>
      <ul>
        <% current_user.reviews.each do |review| %>
        <li class="li-underline"><%= link_to review.content, game_review_path(review.game, review) %><br><%= review.game.name %><br><br></li>
        <% end %>
        <% else %>
        <em>You have not reviewed any items!</em>
        <% end %>
      </ul>
    </div>
  </div>
